.searchEntry {
  @include flexColumn;
  padding-top: 40px;
  margin-top: 150px;

  .logo {
    letter-spacing: -5px;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;

    @include mq(768px) {
      font-size: 4rem;
      letter-spacing: -10px;
    }
  }

  .searchBoxx {
    width: 90vw;
    display: flex;
    border: 2px solid $searchBarBorder;
    border-radius: 500px;
    padding-top: 0.15rem 0.25rem 0.15rem 0.7rem;

    @include mq(768px) {
      width: 80vw;
      padding-top: 1.25rem 1.5rem;
    }

    @include mq(1025px) {
      width: 60vw;
    }

    input[type="text"] {
      outline: none;
      text-align: left;
      font-size: 0.75rem;
      flex-grow: 1;
      letter-spacing: 0.1rem;
      border: 0;
      min-width: 150px;
      padding-left: 25px;

      @include mq(768px) {
        font-size: 1.25rem;
      }
    }

    .button {
      cursor: pointer;
      border: 0;
      background: transparent;
      min-width: 48px;
      min-height: 48px;
      outline: none;

      i {
        font-family: "Font Awesome 5 Free";
        font-size: 1rem;

        @include mq(768px) {
          font-size: 1.5rem;
        }
      }
    }

    .button:hover,
    .button:focus {
      i {
        padding-bottom: 0.5rem;
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }
    }

    .searchBtn:hover,
    .searchBtn:focus {
      i {
        color: $greenColor;
      }
    }

    .clear:hover,
    .clear:hover {
      i {
        color: $redColor;
      }
    }

    .searchBtn {
      @include mq(768px) {
        padding-left: 0.1rem;
      }
    }

    .clear {
      color: $statsColor;
      align-items: center;
      justify-content: center;
      border-right: thin solid $clearBtnColor;

      @include mq(768px) {
        padding: 0 1rem;
      }
    }
  }

  .searchBoxx:hover,
  .searchBoxx:focus-within {
    box-shadow: 0 2px 3px 2px $searchBarBorder;
  }
}
